.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@media(min-width: 768px) {
		width: 750px;
	}
	@media(min-width: 992px) {
		width: 970px;
	}
	@media(min-width: 1200px) {
		width: 1170px;
	}
}

.container-fluid {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	&:after {
		clear: both;
    	display: block;
    	content: '';
	}
}

@mixin column($size, $width) {
	

	@media(min-width: $width) {
		width: 100%;
		float: left;
		position: relative;
		padding-left: 15px;
		padding-right: 15px;

		width: percentage($size / 12);
	}
}

.col-xs-1 {	@include column(1, 0px); }
.col-xs-2 {	@include column(2, 0px); }
.col-xs-3 {	@include column(3, 0px); }
.col-xs-4 {	@include column(4, 0px); }
.col-xs-5 {	@include column(5, 0px); }
.col-xs-6 {	@include column(6, 0px); }
.col-xs-7 {	@include column(7, 0px); }
.col-xs-8 {	@include column(8, 0px); }
.col-xs-9 {	@include column(9, 0px); }
.col-xs-10 { @include column(10, 0px); }
.col-xs-11 { @include column(11, 0px); }
.col-xs-12 { @include column(12, 0px); }

.col-sm-1 {	@include column(1, 768px); }
.col-sm-2 {	@include column(2, 768px); }
.col-sm-3 {	@include column(3, 768px); }
.col-sm-4 {	@include column(4, 768px); }
.col-sm-5 {	@include column(5, 768px); }
.col-sm-6 {	@include column(6, 768px); }
.col-sm-7 {	@include column(7, 768px); }
.col-sm-8 {	@include column(8, 768px); }
.col-sm-9 {	@include column(9, 768px); }
.col-sm-10 { @include column(10, 768px); }
.col-sm-11 { @include column(11, 768px); }
.col-sm-12 { @include column(12, 768px); }

.col-md-1 { @include column(1, 992px); }
.col-md-2 { @include column(2, 992px); }
.col-md-3 {	@include column(3, 992px); }
.col-md-4 {	@include column(4, 992px); }
.col-md-5 {	@include column(5, 992px); }
.col-md-6 {	@include column(6, 992px); }
.col-md-7 {	@include column(7, 992px); }
.col-md-8 {	@include column(8, 992px); }
.col-md-9 {	@include column(9, 992px); }
.col-md-10 { @include column(10, 992px); }
.col-md-11 { @include column(11, 992px); }
.col-md-12 { @include column(12, 992px); }

.col-lg-1 { @include column(1, 1200px); }
.col-lg-2 { @include column(2, 1200px); }
.col-lg-3 {	@include column(3, 1200px); }
.col-lg-4 {	@include column(4, 1200px); }
.col-lg-5 {	@include column(5, 1200px); }
.col-lg-6 {	@include column(6, 1200px); }
.col-lg-7 {	@include column(7, 1200px); }
.col-lg-8 {	@include column(8, 1200px); }
.col-lg-9 {	@include column(9, 1200px); }
.col-lg-10 { @include column(10, 1200px); }
.col-lg-11 { @include column(11, 1200px); }
.col-lg-12 { @include column(12, 1200px); }

.show-grid [class^=col-] {
	padding: 15px;
	background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}