@import 'mixins';

.pennapps-nav {
	background-color: white;
	border-bottom: 1px solid white;
	box-shadow: 0px 0px 0px black;
	@include transition(boxShadow 0.3s ease);
	@include transition(border 0.3s ease);

	&.fixed {
		position: fixed;
		width: 100%;
		top: 0px;
		bottom: auto;
		z-index: 1;
		border-bottom: 1px solid $primary-color;
	    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

		ul.nav-links {
			&> li {
				&> a {
					margin-top: 25px;
				}
			}
		}
	}

	.nav-header {
		float: left;
	}

	.nav-expand {
		display: none;
		float: right;
		padding: 9px 10px;
		//border: 1px solid $primary-color;
		border-radius: 4px;

		.expand-bar {
			display: block;
			background-color: $primary-color;
			height: 2px;
			width: 22px;

			& + .expand-bar {
				margin-top: 4px;
			}
		}
	}

	.nav-brand {
		float: left;
		font-family: HalisR-Black;
	    margin: 10px 0;
	    font-size: 30px;
	}

	ul.nav-links {
		@extend ul.inline;

		position: relative;
		display: -webkit-box;
		display: -moz-box;   
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; 
		justify-content: space-between;

		&> li {
			flex: 0 1 auto;
			
			&> a {
				line-height: 20px;
			    padding: 15px;
			    position: relative;
			    display: block;

			    color: #3390f1;
    			text-transform: uppercase;
    			font-family: HalisR-Regular;
    			font-size: 1em;

    			@include transition(margin 0.3s ease);

    			.bubble {
    				position: absolute;
    				width: 100%;
    				height: 15px;
    				left: 0px;
    				top: -10px;
    				text-align: center;

    				&:before {
	    				content: '';
	    				display: block;
	    				width: 15px;
	    				height: 15px;
	    				border-radius: 15px;
	    				position: relative;
	    				margin: auto;
	    				background-color: $primary-color;
	    				border: 2px solid white;
	    			}

	    			&:after {
	    				content: '';
	    				display: block;
	    				width: 11px;
	    				height: 11px;
	    				border-radius: 15px;
	    				position: relative;
	    				margin: auto;
	    				background-color: white;
	    				@include transition(background 0.3s ease);
	    				top: -15px;
	    			}
    			}

    			&.active {
    				.bubble {
    					&:after {
    						background-color: $primary-color;
    					}
    				}
    			}
			}
		}

		.nav-slider {
			height: 2px;
		    background-color: $primary-color;
		    width: calc(100% - 15px);
		    position: absolute;
		    left: 0px;
		    top: -2px;
		    padding: 0px;
		    margin-left: 15px;
		}
	}

	&.collapse {

		.nav-header {
			float: none;

			.nav-expand {
				margin-top: 10px;
				display: block;
			}

			&:after {
				clear: both;
		    	display: block;
		    	content: '';
			}
		}

		.nav-collapse {
			@extend .row;
			display: none;
			overflow: hidden;
		}

		ul.nav-links {
			display: block;

			&> li {
				display: block;

				&> a {
					
					margin-top: 0px;

					&:hover {
						background-color: $primary-color;
						color: white;
					}

					.bubble {
						display: none;
					}
				}
			}
		}

		.nav-slider {
			display: none;
		}

		&.collapse-in {
			.nav-collapse {
				height: auto;
			}
		}
	}
}