@import 'variables';

.splash {
	height: calc(100vh + 100px);
	position: relative;
	margin-top: -100px;
	background-color: $primary-color;

	&+.pennapps-nav {
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	h1, h2, h3, h3, h4, h5, h6 {
		max-width: 100%;
		color: white;
	}
}