table {
	width: 100%;
	table-layout: fixed;
	tr {
		background-color: #f8f8f8;
		&:nth-child(odd) {
        	background-color: white;
		}

		th {
			background-color: $primary-color;
			color: white;
		}
		th, td {
			padding: 10px 20px;
		}
	}
}