$primary-color: #062946;
$secondary-color: #55C4C7;
// $primary-color: #3390f1;
// $secondary-color: #062946;

$base: #f8f8f8;
$very-light-gray: #eee;
$light-gray: #ddd;
$medium-gray: #999;
$dark-gray: #777;
$heavy-gray: #222;

$title-font-bold: 'HalisR-Black';
$title-font-reg: 'HalisR-Regular';
$title-font-thin: 'HalisR-Light';
$body-font: 'Open Sans', sans-serif;